.name {
  color: blueviolet;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}
h1 {
  font-size: 40px;
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
  margin-left: 50px;
}
.first {
  width: 50%;
}
.second {
  width: 50%;
  padding-left: 2%;
}

.second img {
  width: 40%;
}
.link-button {
  text-decoration: none;

  padding: 10px 40px;
  background-image: linear-gradient(tomato, orange);
  border-radius: 4px;
  cursor: pointer;
  color: white;
}
.top1 {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.top2 {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.shadow1 {
  box-shadow: 20px 20px rgba(44, 6, 56, 0.2);
  width: 40%;
  padding: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
  border-left: purple;
}

.shadow2 {
  box-shadow: 20px 20px rgba(197, 25, 54, 0.2);
  width: 40%;
  padding: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
  border-left: red;
}
.top3 {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
}
footer p {
  text-align: center;
}
